*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.7%;
}

body {
  background-image: url("./assets/background.svg"),
    linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.7),
      rgba(240, 240, 240, 0.7)
    );
  background-size: cover;
}
